.cards-container {
  background-color: rgba(255, 255, 255, 0.51);
  width: 100%;
  height: fit-content;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.card-space {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 2px solid rgb(91, 212, 142);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  height: 80%;
}
.img-container:hover {
  cursor: pointer;
}
.img-container > img {
  border-radius: 5px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-title {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  color: rgb(24, 24, 24);
}

@media (max-width: 1366px) and (max-height: 780px) {
  .card-space {
    height: 150px;
  }
  .img-container {
    height: 100%;
  }
  .img-container > img {
    height: 100%;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 0.5rem;
  }
  .card-title {
    display: none;
  }
}
